openapi: 3.0.2
info:
  title: Northbound REST API DNOR
  description: |-
    API definitions for programmatic access to DriveNets Network Orchestrator (DNOR). The API calls are modelled after, and reflected in the DNOR User Interface.

    When you first sign up with the SSP, a POST API request (/auth/login) is sent with the following payload:

      *{"username":"user@company.com"*,*"password":"mypass"*}, **where** *“user@company.com”* and *“mypass”* are the email address and password you provided during sign up.

      The API call returns a token value. This is the authorization token for your account. This token is sent in the header of all API requests, as follows:
      1. Authorization: Bearer <token-value>
      The REST API enables you to interact with the SP systems to provision services for your organization from your server-side applications.
      2. Some other text

      ## H2 Heading

      This is also an example of an unordered list:
      - Some item
      - Another item

      ### H3 Heading

      #### H4 Heading

      Here is a link: (I copied)

        [Dinosuars](https://en.wikipedia.org/wiki/Dinosaurs)

      The [New Horizons](http://pluto.jhuapl.edu/) space probe took photos of Pluto.

    Now for my next trick, I will add an image :)

    This image is form a site called Lorem Picsum....

    ![True colour image](https://picsum.photos/200/300)

  version: v7.0.6
servers:
  - url: http://localhost
tags:
  - name: Northbound REST API
paths:
  /api/login:
    post:
      summary: User login
      tags:
        - Authentication
      description: Use DNOR credentials to log into DNOR. If you dont have credentials contacted your system administrator.
      requestBody:
        description: Login credentials<br/>
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - username
                - password
              properties:
                username:
                  type: string
                  example: superadmin
                password:
                  type: string
                  example: superadmin
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: New token created!
                  token:
                    type: string
                    example: eyJhbGciOiJIUz...
        "403":
          description: Incorrect username / password
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Incorrect credentials
  /api/logout:
    post:
      security:
        - Authentication: []
      summary: User logout
      tags:
        - Authentication
      description: Use DNOR credentials to log out of DNOR.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: User session logout succeeded
        "403":
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Error!
